@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>
@using SvgMediaType.Helpers

@{
	Layout = null;
}

<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Home</h1>

        <p style="color: red;">SVG icon: @Html.RenderSvg(Model.Media)</p>

    </body>
</html>