@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>
@using SvgMediaType.Helpers

@{
	Layout = null;
}

<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Home</h1>
        @if (Model.Media is Svg)
        {
            @Html.RenderSvg(Model.Media, "My SVG title")
        }
    
    </body>
</html>